# AdamW with higher learning rate and weight decay
# Use with: python main.py optimizer=adamw_2e4lr_wd01

optimizer_class: adamw
learning_rate: 2.0e-4
betas: [0.9, 0.999]
eps: 1.0e-8
weight_decay: 0.01
amsgrad: false