# AdamW with weight decay for regularization
# Use when overfitting is a concern
# Use with: python main.py optimizer=adamw_1e4lr_wd01

optimizer_class: adamw
learning_rate: 1.0e-4
betas: [0.9, 0.999]
eps: 1.0e-8
weight_decay: 0.01
amsgrad: false

