# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Other common caches
.cache/
*.egg-info/


outputs/